<div class="login-container">
  <div class="logo">Movie Hero</div>
  <div class="desc">
    Welcome to Movie Hero! Discover your next movie obsession with our
    cutting-edge movie recommendation web application. Sign in to access
    personalized movie recommendations tailored just for you. Whether you're a
    fan of action, romance, or comedy, our algorithm analyzes your preferences
    to suggest the perfect movies every time. Get ready to embark on a cinematic
    adventure like no other. Join Movie Hero today and let us be your guide to
    the world of unforgettable movies. Lights, camera, login!
  </div>

  <div class="login-form">
    <div class="form-group">
      <label for="uname">Username</label>
      <input
        type="text"
        name="uname"
        class="form-control"
        [(ngModel)]="username"
      />
    </div>
    <div class="form-group">
      <label for="pword">Password</label>
      <input
        type="password"
        name="pword"
        class="form-control"
        [(ngModel)]="password"
      />
    </div>
    <div class="btn-container">
      <div class="error">{{ error }}</div>
      <button class="btn btn-dark" (click)="login()">Login</button>
    </div>
  </div>
</div>
